# Data Analysis using pandas

[pandas](https://pandas.pydata.org/) is the most popular python library for data manipulation and analysis. It is especially tailored for working with time series data due to its development history in the finance industry.  

[The pandas cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook) covers, in detail, the pandas API and working with its data structures. In this notebook we provide a preliminary introduction to the data structures in `pandas` and follow it up with some useful code snippets for accomplishing specific tasks. The tasks are not carefully constructed and were born mostly out of need while working on some project.


## pandas datastructures
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is:

In [5]:
# Import the library
import pandas
import numpy
import numpy.random

In [7]:
s = pandas.Series(numpy.random.randn(5))
print(s)

0    0.213598
1    0.249689
2   -0.119241
3    0.912390
4   -1.188708
dtype: float64

In [8]:
s = pandas.Series(numpy.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a   -0.009337
b   -0.158603
c   -0.034975
d   -0.002287
e   -0.680423
dtype: float64

In [9]:
d = {'b': 1, 'a': 0, 'c': 2}
pandas.Series(d)

b    1
a    0
c    2
dtype: int64

In [10]:
pandas.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [ ]:
 s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

## Working with Series

In [11]:
s[0]

-0.009336842693835836

In [12]:
s[s > s.median()]

a   -0.009337
d   -0.002287
dtype: float64

In [13]:
s + s

a   -0.018674
b   -0.317205
c   -0.069949
d   -0.004574
e   -1.360847
dtype: float64

In [14]:
numpy.exp(s)

a    0.990707
b    0.853335
c    0.965630
d    0.997716
e    0.506403
dtype: float64

## DataFrame
The pandas DataFrame is a 2-dimensional labeled data structure with rows and columns of potentially different types. You can think of it like a spreadsheet or SQL table.

Data frames can be created from 
* dict of 1D ndarrays, lists, dicts, or pandas.Series
* 2-D numpy.ndarray
* pandas.Series
* Another pandas.DataFrame
* From a CSV/Excel file or SQL table

Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. Here are a few examples:

In [4]:
# From dict of arrays/lists
df = pandas.DataFrame({'A': numpy.random.randn(5), 'B': numpy.random.randn(5)})

# Display the first few rows of the DataFrame
df.head()

          A         B
0  0.842068  1.887971
1 -0.902174 -0.303899
2 -0.002947 -0.171942
3 -2.575968 -2.234638
4 -0.070976  0.262921

In [16]:
# Explicity passing column labels
# Columns and rows are indexed using integer labels
df = pandas.DataFrame(numpy.random.randn(10, 4))
df.head()

          0         1         2         3
0 -0.018406  1.293025  0.503725  0.139378
1  0.515348  1.231558 -1.309604  0.485417
2 -2.065539 -2.292078 -0.325685 -0.166607
3 -1.843063 -1.222840  0.714181 -1.594812
4  0.029611  0.572192 -1.482664 -0.715371

In [7]:
# Explicity passing column labels
df = pandas.DataFrame(numpy.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])

# Display the last few rows of the DataFrame
df.tail()

          A         B         C         D
5 -0.228297  1.944910 -1.497527 -1.181247
6 -1.254132  0.584549  1.399073 -0.907340
7  1.658553  0.613674  1.891267 -1.450986
8  1.495915  0.479769 -1.786253 -1.664243
9 -2.034977  0.566940  0.402523  0.609117

In [5]:
# From CSV/Excel files
import pandas
import os
csv_file = os.path.abspath('./DataAnalysis/data/phl_temperature.txt')
df = pandas.read_csv(csv_file, delim_whitespace=True)
df.head()

   Month  Date  Year  Max  Min
0      1     1  1950   45   32
1      1     2  1950   55   37
2      1     3  1950   60   44
3      1     4  1950   68   57
4      1     5  1950   64   52

## Indexing / selection
The basics of indexing are as follows:

| Operation                      | Syntax          | Result      |
|--------------------------------|-----------------|-------------|
| Select column                  | `df[col]`       | `Series`    |
| Select row by label            | `df.loc[label]` | `Series`    |
| Select row by integer location | `df.iloc[loc]`  | `Series`    |
| Slice rows                     | `df[5:10]`      | `DataFrame` |
| Select rows by boolean vector  | `df[bool_vec]`  | `DataFrame` |

If a DataFrame column label is a valid Python variable name, the column can be accessed like an attribute:

In [1]:
df = pandas.DataFrame(numpy.random.randn(10, 2), columns=['foo1', 'foo2'])
df.foo1

NameError: name 'pandas' is not defined

## Transposing

In [18]:
df_t = df.T
display(df_t)

,0,1,2,3,4,5,6,7,8,9
0,-0.018406,0.515348,-2.065539,-1.843063,0.029611,1.125723,1.899478,-1.456191,0.567275,0.036702
1,1.293025,1.231558,-2.292078,-1.222840,0.572192,0.134943,2.506781,1.703568,1.145430,1.300271
2,0.503725,-1.309604,-0.325685,0.714181,-1.482664,-1.376314,1.080011,-0.194997,-0.010458,1.331428
3,0.139378,0.485417,-0.166607,-1.594812,-0.715371,-1.690071,-0.327998,0.330466,2.316249,1.107672

## Data alignment and arithmetic

In [19]:
df = pandas.DataFrame(numpy.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pandas.DataFrame(numpy.random.randn(7, 3), columns=['A', 'B', 'C'])
df + df2

          A         B         C   D
0 -0.979961 -0.494745 -0.690338 NaN
1 -1.478323 -0.131388 -0.625910 NaN
2 -1.621395 -2.687233  1.572316 NaN
3 -0.281079  1.805794 -1.469501 NaN
4  0.327918 -0.718512 -1.625370 NaN
5  1.003990 -0.745661  0.302221 NaN
6  1.027004 -0.729990  1.635750 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

# Useful `pandas` snippets

## Writing a dataframe into excel as a table

In [ ]:
import pandas
import xlsxwriter

data = pandas.DataFrame({'a':[1,2,3,4,5], 'b':[2,3,4,5,6], 'c':[3,4,5,6,7]})
workbook = xlsxwriter.Workbook("test1.xlsx")
worksheet = workbook.add_worksheet("testworksheet")
columns = [{'header': x} for x in data.columns ]
origin = (2,1)
worksheet.add_table( origin[0], origin[1], origin[0]+len(data)-1, origin[1]+len(data.columns)-1, 
                    {'data': data.values.tolist(),'header_row': True, 'columns': columns})

workbook.close()

## Add a column based on a grouped rule

In this example we are given a dataframe with 4 columns titled `A, B, C, D`. We want to create a new column according to the following rules
a) minimum odd value in column A for rows where column A is odd
b) minimum even value in column A for rows where column A is even

Some practical situations where this can occur - if you have a list of events where you want to find out the first time a particular type of event occurred.

In [ ]:
import numpy
import pandas

# Generate some random data in a dataframe
df = pandas.DataFrame(numpy.random.randint(0,100,size=(15, 4)), 
                      columns=['A','B','C','D'])


# Lambda function for checking if a number is even or odd
even = lambda x: 1 if x%2==0 else 0
odd = lambda x: 0 if x%2==0 else 1

# Get even and odd numbers from a list
even_nos = lambda l: list(filter(even, l))
odd_nos = lambda l: list(filter(odd, l))

# Create a column that will be 1 if A is odd 0 if A is even
df['oddA'] = df['A'].transform(odd)

# Create a grouped data object
# Note that we are grouping by the column 'oddA'
# sub_df contains only column A
sub_df = df.groupby('oddA')

def print_df_groupby(grouped_df):
    """Print the dataframe groups
    
    Parameters
    ----------
    grouped_df : pandas.DataFrameGroupBy
        Grouped dataframe object
    """
    for key, item in grouped_df:
        print(grouped_df.get_group(key), "\n\n")


print('Dataframe groups')
print('----------------\n')
print_df_groupby(sub_df)

In [ ]:
# Apply a transform using the 
df['minA'] = sub_df['A'].transform(min)

print('Minimum even number in A : {}'.format(min(even_nos(df['A']))))
print('Minimum odd  number in A : {}'.format(min(odd_nos(df['A']))))
print('\n')
print(df)